:root {
  --counter-background-color: rgba(10, 10, 10, 0.928);
  --neon-border-color: #fffebb;
  --neon-text-color: #eb5fad;
  --button-width: 75px;
  --button-height: 75px;
  --button-background-color: #000000;
  --button-hover-scale: 1.1;
  --border-radius: 15px;
  --glow-effect-color: rgba(250, 200, 92, 0.7);
  --font-family: "Orbitron", sans-serif;
  --font-weight: 400;
  --counter-size: 40px;
  --button-size: 30px;

  /* Mobile settings */
  --button-width-mobile: 50px;
  --button-height-mobile: 50px;
  --counter-size-mobile: 30px;
  --button-size-mobile: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  background: url("../images/cyber-melting-clocks.webp") no-repeat center center
    fixed;
  background-size: cover;
  color: var(--neon-text-color);
}

.counter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--counter-background-color);
  padding: 30px;
  border-radius: var(--border-radius);
  border: 2px solid var(--neon-border-color);
  box-shadow: 0 0 15px var(--glow-effect-color);
  min-width: 300px;
  width: auto;
}

.counter-container button {
  background-color: var(--button-background-color);
  color: var(--neon-border-color);
  border: 2px solid var(--neon-border-color);
  font-size: var(--button-size);
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px var(--glow-effect-color);
  transition: transform 0.1s;
  width: var(--button-width);
  height: var(--button-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-container button:hover {
  transform: scale(var(--button-hover-scale));
}

.counter-container button:focus {
  outline: none;
}

.counter-container span {
  margin: 0 20px;
  font-size: var(--counter-size);
  text-shadow: 0 0 10px var(--neon-text-color);
}

@media (max-width: 400px) {
  .counter-container {
    min-width: 200px;
    padding: 30px;
  }

  .counter-container button {
    font-size: var(--button-size-mobile);
    width: var(--button-width-mobile);
    height: var(--button-height-mobile);
  }

  .counter-container span {
    margin: 0 20px;
    font-size: var(--counter-size-mobile);
  }
}
