:root {
    --counter-background-color: rgba(10, 10, 10, 0.928);
    --neon-border-color: #FFFEBB;
    --neon-text-color: #EB5FAD;
    --button-background-color: #000000;
    --button-hover-scale: 1.1;
    --border-radius: 15px;
    --glow-effect-color: rgba(250, 200, 92, 0.7);
    --font-family: 'Orbitron', sans-serif;
    --counter-size: 40px; /* New variable for counter text size */
    --button-size: 30px; /* New variable for button text size */
    --button-padding: 15px 30px; /* New variable for button padding */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: var(--font-family);
    background: url('../images/cyber-melting-clocks.webp') no-repeat center center fixed;
    background-size: cover;
    color: var(--neon-text-color);
}

.counter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--counter-background-color);
    padding: 30px;
    border-radius: var(--border-radius);
    border: 2px solid var(--neon-border-color);
    box-shadow: 0 0 15px var(--glow-effect-color);
    min-width: 300px;
    width: auto;
}

.counter-container button {
    background-color: var(--button-background-color);
    color: var(--neon-border-color);
    border: 2px solid var(--neon-border-color);
    padding: var(--button-padding);
    font-size: var(--button-size);
    cursor: pointer;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px var(--glow-effect-color);
    transition: transform 0.1s;
}

.counter-container button:hover {
    transform: scale(var(--button-hover-scale));
}

.counter-container button:focus {
    outline: none;
}

.counter-container span {
    margin: 0 20px;
    font-size: var(--counter-size);
    text-shadow: 0 0 10px var(--neon-text-color);
}

@media (max-width: 600px) {

    .counter-container {
        min-width: 250px;
    }
}
